<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css">
    <link rel="stylesheet" type="text/css" href="~/css/styles1.css">
    <meta charset="utf-8">
    <title>@ViewData["Title"] - Pyro</title>
    <link rel="icon" type="image" href="~/images/pyro.png">
</head>
<body>

    <!-- BODY SECTIONS -->
    <div class="body_sections">
        @RenderBody()

    </div>


    <script src="~/js/script_index.js"></script>
</body>
</html>